.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 13px;
}

/* Diamantes */
.diamond {
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  transform: rotate(45deg);
}

/* Diamantes laterales */
.diamond.edge {
  opacity: 0.9;
  width: 10px;
  height: 10px;
  background: var(--primary-color);
  border: none;
}

/* Pista (línea) */
.track {
  position: relative;
  width: 180px;
  height: 18px;
  background: transparent;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3.5px;
  background: var(--primary-color);
  transform: translateY(-50%);
  border-radius: 1rem;
  z-index: 0;
}

/* Diamante animado (vacío) */
.diamond.moving {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%) rotate(45deg);
  animation: slide 6s linear infinite;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  z-index: 1;
}

/* Animación */
@keyframes slide {
  0% {
    left: 0%;
  }

  50% {
    left: calc(100% - 14px);
  }

  100% {
    left: 0%;
  }
}
