:root {
  --primary-color: #ff4c3b; /* rojo brillante */
  --secundary-color: rgba(255, 113, 90); /* rojo anaranjado */
  --background-color: rgba(18, 30, 40); /* azul oscuro */
  --text-color: #fafbf9; /* blanco */
  --text-secondary-color: #cfd8dc; /* gris claro */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Layout base ===== */
html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth; /* scroll suave para links con # */
  background-color:var(--background-color);
  color: var(--text-color);
  letter-spacing: 1.2px;
}

main {
  flex: 1; /* ocupa el espacio disponible entre navbar y footer */
}

/* Scroll general */
::-webkit-scrollbar {
  width: 7px;
}

/* Fondo del scroll */
::-webkit-scrollbar-track {
  background: var(--background-color); /* fondo oscuro */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 16px 7px #ff4c3b88;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    #ffb347 30%,
    #fff176 50%,
    #ffb347 70%,
    var(--primary-color) 100%
  );
}

.subtitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: center; 
  color: var(--text-color);
  display: flex;
  gap: 1rem;
}

.highlight {
  color: var(--primary-color);
}