:root {
  --primary-color: #ff4c3b; /* rojo brillante */
  --secundary-color: rgba(255, 113, 90); /* rojo anaranjado */
  --background-color: #0A0E1A; /* azul oscuro */
  --text-color: #fafbf9; /* blanco */
  --text-secondary-color: #cfd8dc; /* gris claro */
  --border-color: #808080; /* gris medio */

  /*---------Iconos---------*/
  --github-color: #070707;
  --linkedin-color: #0077b5;
  --email-color: #e74c3c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 4rem 4rem 3rem 4rem;
}

main {
  flex: 1; /* ocupa el espacio disponible entre navbar y footer */
}

/* Scroll general */
::-webkit-scrollbar {
  width: 7px;
}

/* Fondo del scroll */
::-webkit-scrollbar-track {
  background: var(--background-color); /* fondo oscuro */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 16px 7px #ff4c3b88;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    #ffb347 30%,
    #fff176 50%,
    #ffb347 70%,
    var(--primary-color) 100%
  );
}

/* ===== Layout base ===== */
html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  color: var(--text-color);
  letter-spacing: 1.2px;
  background: var(--background-color)
}

section {
  padding: 4rem 2rem;
}

main {
  flex: 1;
}

/* ===== Tipografía ===== */
.subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 1rem;
  text-shadow: 0 2px 10px rgba(255, 76, 59, 0.2);
}

.highlight {
  color: var(--primary-color);
  font-weight: 700;
}

.btn svg,
.contact-btn svg{
  width: 32px;
  height: 32px;
}

.btn svg {
  fill: currentColor;
}
.contact-btn svg {
  fill: white;
}

