.typing {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.cursor {
  animation: blink 1s infinite;
  font-weight: bold;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-content {
  max-width: 640px;
  text-align: left;
  padding: 2rem 3rem;
}

.hero-badge {
  display: inline-block;
  color: var(--primary-color);
  font-size: 2.1rem;
  font-weight: bolder;
  margin-bottom: 1.2rem;
  letter-spacing: 1.5px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--text-secondary-color);
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}