.logo {
  display: block;
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: transform 0.35s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-group path {
  fill: var(--text-color);
  transition: fill 0.35s ease;
}

.logo:hover .logo-group path {
  fill: var(--primary-color);
}
